// Page
$background-color-body: #f8f7f3;
$background-color-cards: #ffffff;
$separator: #ebeaea;

// Text
// Green
$green: #16770C;

// Greys
$skills-background: #eaeaea;
$first-line-grey: #b2b2b2;
$contact-details-text-color: #828282;
$city: #9b9b9b;
$main-text-color: #5e5e5e;
$section-titles: #4a4a4a;
$border: #eeeeee;